.sec {
	text-align: center;
	margin:  0 auto;
	padding: 0.483em;
	height: 100%;
	background-color: #dbe3ce;
	border-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.sec-container {
	background-color: ivory;
	border-radius: 3px;
	width: 100%;
	height: 100%;
}



/*1.233em largest*/
/*0.483em smallest*/

/* 
@media screen and (min-width: 360px) {
	.sec-container {
		height: 62vh;
	}
}

@media screen and (min-width: 360px) and (min-height: 640px) {
	.sec-container {
		height: 70.33vh;
	}
}

@media screen and (min-width: 360px) and (max-height: 640px) {
	.sec-container {
		height: 68.56vh;
	}
}

@media screen and (min-width: 360px) and (min-height: 730px) {
	.sec-container {
		height: 72.76vh;
	}
}

@media screen and (min-width: 360px) and (min-height: 800px) {
	.sec-container {
		height: 75.43vh;
	}
} */