.sec {
	text-align: center;
	margin:  0 auto;
	padding: 1.233em;
	background-color: #dbe3ce;
	border-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.sec-container {
	background-color: ivory;
	border-radius: 3px;
	height: 68vh;
}

.sec-header {
	margin-top:0;
	padding-top: 0.83em;
	text-transform: capitalize;
}