
.info-container {
	background-color:  ivory;
	border-radius: 3px;
	height: 25%;
}

.story-container {
	border-radius: 3px;
	padding-top:0;
	background-color:  ivory;
	height: 75%;
}

.story-title-author {
	position: relative;
	text-align: center;
	margin: 0 auto;
}

.story-title, .story-author {
	text-align: center;
	margin: 0 auto;
}

.story-title {
	font-size: 3vh;
	padding: 0.33em;
	margin: 0.15.em;
}

.story-author {
	padding: 0.33em;
	margin: 0.15.em;
}

.story-text {
	padding: 0 0.5em;
	font-size: 1em;
	max-width: 60em;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.abs-button-holder {
	max-width: 300px;
	display: flex;
	margin: 0 auto;
	padding: 0.5em;
	text-align: center;
	justify-content: space-evenly;
}

.edit, .remove {
	margin: 0.25em;
}