
.info-container {
	background-color:  ivory;
	border-radius: 3px;
	height: 25%;
}

.story-container {
	border-radius: 3px;
	padding-top:0;
	background-color:  ivory;
	height: 75%;
}

.story-title-author {
	position: relative;
	text-align: center;
	margin: 0 auto;
}

.story-title, .story-author {
	text-align: center;
	margin: 0 auto;
}

.story-title {
	font-size: 1.25em;
	padding: 0.33em;
	margin: 0.15.em;
}

.story-author {
	margin: 0.15.em;
}

.story-text {
	padding: 0 0.5em;
	font-size: 1em;
	max-width: 60em;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.abs-button-holder {
	max-width: 300px;
	display: flex;
	margin: 0 auto;
	padding: 0 0.25em 0.25em;
	text-align: center;
	justify-content: space-evenly;
}

.edit, .remove {
	font-size: 0.8em;
	margin: 0.25em;
}


@media screen and (min-width: 400px) {
	.edit, .remove {
		font-size: 1em;
	}

	.abs-button-holder {
		padding: 0.5em;
	}

	.story-title {
		font-size: 1.5em;
	}
}

@media screen and (min-height: 650px) {
	.edit, .remove {
		font-size: 0.9em;
	}

	.abs-button-holder {
		padding: 0.4em;
	}

	.story-title {
		font-size: 1.25em;
	}
}

@media screen and (min-height: 750px) {
	.edit, .remove {
		font-size: 1em;
	}

	.abs-button-holder {
		padding: 0.5em;
	}

	.story-title {
		font-size: 1.5em;
	}
}