.about {
	display: flex;
	flex-direction: column;
	background-color:  ivory;
	border-radius: 3px;
	height: 73vh;
	margin: 0 0.83em 0.83em;
}

.about-header {
	margin-top:0;
	padding-top: 0.83em;
	margin-bottom: 2.0em;
}

.about-text > p {
	text-indent: 1em;
	text-align: justify;
	margin: 0 2em;
}

.about-list {
	margin-left: 2em;
	text-align: left;
	list-style: none;
}