.app {
	display: flex;
	text-align: center;
	width: 100%;
	flex-direction: column;
}

.main {
	background-color:  #dbe3ce;
	border-radius: 3px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	height: 100%;
}