.error-header {
	margin: 0 auto;
	text-align: center;
}

.container {
	display: flex;
	align-items: center;
	height: 100%;
}

.server-error {
	position: absolute;
	text-transform: none;
	font-size: 0.8em;
	left: 50%;
	transform: translateX(-50%);
	white-space: nowrap;
}