.action-display {
	margin: 0 auto;
	padding-bottom: 0.483em;
}

.action-display-header {
	margin: 0;
	background-color:  #dbe3ce;
	text-align: center;
	width: 100%;
	font-size: 1em;
}

.action-display-panel {
	display: flex;
	justify-content: space-between;
}

.action-display-main {
	width: 95%;
	margin: 0 auto;
	height: 64vh;
	overflow-y: scroll;
	background-color: #a9ada4; 
	border-radius: 3px;
}

.action-display-main::-webkit-scrollbar { 
	display: none;
}

@media screen and (min-width: 360px) {
	.action-display-main {
		height: 60vh;
	}
}

@media screen and (min-width: 360px) and (min-height: 640px) {
	.action-display-main {
		height: 65.65vh;
	}
}

@media screen and (min-width: 360px) and (max-height: 640px) {
	.action-display-main {
		height: 64.65vh;
	}
}

@media screen and (min-width: 360px) and (min-height: 730px) {
	.action-display-main {
		height: 68.65vh;
	}
}

@media screen and (min-width: 360px) and (min-height: 800px) {
	.action-display-main {
		height: 72vh;
	}
}



/* 1.233em;*/
/*73vh*/
