.action-display {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
}

.action-display-header {
	margin-top: 0;
	margin-bottom: 2.0em;
	background-color:  #dbe3ce;
	text-align: center;
	width: 100%;
}

.action-display-panel {
	display: flex;
	justify-content: space-between;
}

.action-display-main {
	width: 95%;
	margin: 0 auto 1.233em;
	height: 73vh;
	overflow-y: scroll;
	background-color: #a9ada4; 
	border-radius: 3px;
}

.action-display-main::-webkit-scrollbar { 
	/* This is the magic bit */
	display: none;
}
