.action-display {
	margin: 0 auto;
	padding-bottom: 0.483em;
	height: 100%;
}

.action-display-header {
	margin: 0;
	background-color: rgb(219, 227, 206);
	text-align: center;
	width: 100%;
	font-size: 1em;
}

.action-display-panel {
	display: flex;
	justify-content: space-between;
}

.action-display-main {
	width: 95%;
	height: 87.5%;
	margin: 0 auto;
	background-color: rgb(169, 173, 164); 
	border-radius: 3px;
}
