.header-container, .right-header, .left-header, .middle-header {
	display: flex;
}

header {
	padding: 1.233em;
	background-color:  #dbe3ce;
	border-radius: 3px;
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.header-container {
	text-transform: capitalize;
	flex-direction: column;
	justify-content: space-around;
	background-color:  ivory;
	border-radius: 3px;
}

.left-header {
	flex-direction: column;
	order: 1;
	font-size: 0.8em;
}

.right-header {
	font-size: 0.8em;
}

.left-header-left {
	font-size: 3vh;
	order: 1;
}

h1 {
	text-align: center;
	margin: 0.25em auto;
	font-size: 2em;
}


.left-header-right {
	text-transform: uppercase;
	text-align: center;
	margin: 0.25em auto;
	order: 2;
}

.right-header {
	margin: 1em 0;
	order: 2;
	flex-direction: column
}

.right-header-right, .right-header-left {
	margin: 0 auto;
}

@media screen and (min-width: 720px) {
	.header-container {
		flex-direction: row;
		justify-content: space-evenly;
	}

	.left-header {
		justify-content: center;
	}
}

@media screen and (min-width: 500px) {
	.left-header {
		font-size: 1.0em;
	}
	.right-header {
		font-size: 1.0em;
	}
}



