 .story-card {
	background-color: ivory;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0.233em;
}

.card-container, .readme-wrapper {
	display: inline-block;
}

.card-container {
	width: 85%;
}

.readme-wrapper {
	display: flex;
	padding: 0.5em;
	width: 15%;
	vertical-align: middle;
}

.card-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0.5em;
}

.card-info > h3, .card-description > h4, h5 {
	margin: 0;
}

.card-description {
	display: flex;
	color: #616C60;
	white-space: nowrap;
	flex-direction: row;
	justify-content: space-between;
	max-width: 400px;
	width: 70%;
}

.card-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.author {
	color:#343D93;
	padding-right: 1em;
}

.date {
	overflow: hidden;
	text-overflow: ellipsis;
}

.readme {
	display: block;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	background: transparent;
}

.readme  > i {
	font-size: 1em;
}

@media screen and(min-width: 300px) {
	.card-title {
		font-size: 1em;
	}

	.author {
		font-size: 0.8em;
	}

	.date {
		font-size: 0.8em;
	}
}

@media screen and(min-width: 425px) {
	.card-title {
		font-size: 1.2em;
	}

	.author {
		font-size: 0.9em;
	}

	.date {
		font-size: 0.9em;
	}
}

@media screen and(min-width: 500px) {
	.card-title {
		font-size: 1.5em;
	}

	.author {
		font-size: 1em;
	}

	.date {
		font-size: 1em;
	}
}