 .story-card {
	background-color: ivory;
	border-radius: 3px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0.233em;
	height: 100%;
}

.card-container, .readme-wrapper {
	display: inline-block;
}

.card-container {
	width: 85%;
}

.readme-wrapper {
	display: flex;
	width: 15%;
	vertical-align: middle;
}

.info {
	max-width: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0.5em;
}

h3, .description > h4, h5 {
	margin: 0;
}

.description {
	display: block;
	color: #616C60;
	flex-direction: column;
	text-align: left;
}

.title {
	font-size: 1.2em;
	white-space: nowrap;
	max-width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
}

.author {
	font-size: 0.8em;
}

.updated {
	display: none;
}

.readme {
	display: block;
	padding: 0;
	margin: 0 auto;
	background: transparent;
}
/*

.card-title {
	order: 1;
	display: inline-block;
	border: 1px solid black;
	padding: 0.165em;
	margin: 0.25em;
}

.card-author {
	order:2;
	display: inline-block;
	background-color: lightcoral;
	border: 1px solid black;
	padding: 0.165em;
	margin: 0.25em;
}

.date {
	align-self: flex-start;
	background-color: whitesmoke;
	display: flex;
	font-size: 0.83em;
	flex-direction: column;
	justify-content: space-between;
}

.card-created, .card-updated {
	padding: 0.165em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

 */
@media screen and(min-width: 375px) {
	.info {
		max-width: 300px;
	}
	.title {
		max-width: 300px;
	}
}

@media screen and(min-width: 425px) {
	.info {
		max-width: 325px;
	}
	.title {
		max-width: 325px;
	}
}

@media screen and (min-width: 500px) {

}

@media screen and (min-width: 768px) {
	
}


@media screen and (min-width: 960px) {
	
}

@media screen and (min-width: 960px) {
	
}

@media screen and (min-width: 1024px) {
	
}

@media screen and (min-width: 1280px) {
	
}

@media screen and (min-width: 1440px) {
	
}

@media screen and (min-width: 1600px) {
	
}

@media screen and (min-width: 1920px) {
	
}