 .story-card {
	background-color: ivory;
	border-radius: 3px;
	display: block;
	margin: 0.233em;
	height: 100%;
}

.card-container, .readme-wrapper {
	display: inline-block;
}

.card-container {
	width: 80%;
}

.readme-wrapper {
	width: 20%;
	height: auto;
	vertical-align: middle;
}

.info {
	max-width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0.5em;
}

h3, .description > h4, h5 {
	margin: 0;
}

.description {
	display: block;
	flex-direction: column;
}

.title {
	font-size: 1.2em;
	white-space: nowrap;
	max-width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.author {
	font-size: 0.8em;
}

.updated {
	font-size: 0.7em;
}

/* .description > h4 {
	margin: 0;
	font-size: 0.8em;
} */

.readme {
	background: transparent;
}
/*

.card-title {
	order: 1;
	display: inline-block;
	border: 1px solid black;
	padding: 0.165em;
	margin: 0.25em;
}

.card-author {
	order:2;
	display: inline-block;
	background-color: lightcoral;
	border: 1px solid black;
	padding: 0.165em;
	margin: 0.25em;
}

.date {
	align-self: flex-start;
	background-color: whitesmoke;
	display: flex;
	font-size: 0.83em;
	flex-direction: column;
	justify-content: space-between;
}

.card-created, .card-updated {
	padding: 0.165em;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}

 */


 @media screen and (min-width: 600px) {
	.info {
		flex-direction: row
	}

	.date {
		justify-content: flex-end;
	}

	.date > h5 {
		
	}
}