.form-field {
	border: 0;
	padding: 0;
	margin: 0 auto;
	position: relative;
}

.form-label {
	margin: 0 auto;
	border: 0;
	padding: 0;
}

input[type=text]:focus {
	border-color:lightblue;
	box-shadow:0 0 8px 0 lightblue;
}

input[type=text] {
	color: black;
	display: block;
	margin: 0 auto;
	border: 0;
	width: 10em;
	height: 1.5em;
	padding-right: 1.233em;
	background: lightgray;
	border-radius: 3px;
}

input[type=password]:focus {
	border-color:lightblue;
	box-shadow:0 0 8px 0 lightblue;
}

input[type=password] {
	color: black;
	display: block;
	margin: 0 auto;
	border: 0;
	width: 10em;
	height: 1.5em;
	padding-right: 1.233em;
	background: lightgray;
	border-radius: 3px;
}

.form-element {
	margin-bottom: 0.1em;
}

.form-fieldset {
	border: none;
}

.form-legend {
	font-size: 1.333em;
	font-weight: 1000;
	padding: 1.0em 0;
	margin: 0 auto;
}

.form-error-container {
	display: block;
	margin: 0.1em auto 0.1em;
	background: ivory;
	width: 10em;
	height: 1.5em;
	white-space: nowrap;
}

.form-error-message {
	text-transform: none;
	font-size: 0.6em;
	color: red;
}

.tooltip-button {
	position: absolute;
	padding: 0;
	margin: 0;
	border: 0;
	top: calc(50% - 0.6233em);
	left: calc(50% + 3.8233em);
	background: transparent;
}

.tooltip-message {
	text-transform: none;
	font-size: 0.75em;
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	top: -1.533em;
	transition: all 0.8s;
	opacity: 0;
	white-space: nowrap;
	pointer-events: none;
}

.tooltip-button:focus ~ .tooltip-message {
	opacity: 1;
}

.tooltip-button:hover ~ .tooltip-message {
	opacity: 1;
}