.s-fieldset{
	margin: 0 auto;
	border: 0;
}
.s-legend {
	font-size: 2em;
	margin: 0 auto 0.5em;
}
.s-text {
	width: 80%;
	max-width: 700px;
	height: 300px;
	max-height: 500px;
	line-height: 20px;
	overflow-wrap: break-word;
}